bin/
lm/bin/
util/bin/
util/file_piece.cc.gz
lib/
dist
*.swp
*.o
query
build_binary
kenlm_max_order
lm/left_test
lm/model_test
util/bit_packing_test
util/file_piece_test
util/joint_sort_test
util/probing_hash_table_test
util/read_compressed_test
util/sorted_uniform_test
previous.sh
jam-files/bjam-1_55
jam-files/engine/bin.*/
jam-files/engine/bootstrap/
doc/
._*
include/
windows/Win32
windows/x64
windows/*.user
windows/*.sdf
windows/*.opensdf
windows/*.suo
